<div>
    <div class="top-header">
        <div class="btn-home">
            <a href="/"><img src="assets/image/flp.png" width="100px"></a>
        </div>
        <div class="txt-search">
            <input type="text" placeholder="Search for product,brand and more" class="search-bar">
            <a href="/"><img src="assets/image/images.png" style="width: 42px; height: 35px; padding: 1px;"></a>
        </div>
        <div class="btn-login">
            <a href="/shared/login">Login</a>
        </div>
        <div class="btn-more dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                More
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <table class="table" style="color: black;">
                    <tbody>
                        <tr>
                            <td><a href="/service/help" style="color: black;">Customer Care</a></td>
                        </tr>
                        <tr>
                            <td><a href="/company/sellerlogin" style="color: black;">Login As Seller</a></td>
                        </tr>
                        <tr>
                            <td><a href="/service/help" style="color: black;">24*7 care</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="btn-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"
                style="color: #FFF ;width: 27px; height: 10px;font-size: 20px;"></i><a
                href="service/servicecart">Cart</a>
        </div>
    </div>
    <div style=" background-color: #FFF;line-height: 35px;">
        <div>
            <table class="seconddiv-header  ">
                <tbody>
                    <tr>
                        <td>
                            <a href="/product/electronic" style="padding-left: 55px; color: black;">
                                Electronics
                            </a>
                        </td>
                        <td><a href="/product/tvs&appliances" style="padding-left: 70px; color: black;">
                            Tvs&Appliances
                        </a>
                    </td>
                        <td><a href="/product/men" style="padding-left: 70px; color: black;">
                            Men</a></td>
                        <td><a href="/product/women" style="padding-left: 70px; color: black;">Women</a><td>                 
                        <td><a href="/product/baby&kids" style="padding-left: 70px; color: black;">Baby&Kids</a></td>
                        <td><a href="/product/home&furniture" style="padding-left: 70px; color: black;">Home&Furniture</a></td>
                        <td><a href="/product/sports&book" style="padding-left: 70px; color: black;">Sports,Books&More</a></td>
                        <td><a href="/product/offerzone" style="padding-left: 70px; color: black;">offerzone</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>