<section class="mb-5 login-form">

    <form class="needs-validation" [formGroup]="myloginForm" (ngSubmit)="submitFormData()">
  
      <div class="md-form md-outline">
        <input type="email" name="login-email" id="login-email" class="form-control box" formControlName="yourEmail">
        <label data-error="wrong" data-success="right" for="login-email">Your email</label>
      </div>
      <div class="md-form md-outline">
        <input type="password" name="login-password" id="login-password" class="form-control box " formControlName="yourPassword">
        <label data-error="wrong" data-success="right" for="login-password">Your password</label>
      </div>
  
      <div class="d-flex justify-content-between align-items-center mb-2">
  
        <div class="form-check pl-0 mb-3">
          <input type="checkbox" class="form-check-input filled-in" id="new">
          <label class="form-check-label small text-uppercase card-link-secondary" for="new">Remember me</label>
        </div>
  
        <p><a href="/admin/forgetpassword">Forgot password?</a></p>
  
      </div>
  
      <div class="text-center pb-2">
  
        <button type="submit" class="btn btn-primary mb-4" ><a [routerLink]="['/admin/companymenu']" >Sign in</a></button> 
        <p>Not a member? <a href="/admin/adminregister">Register</a></p>
  
      </div>
  
    </form>
  
  </section>
  <section class="logout-form py-5">
    <p class="logged-user-message pb-2"></p>
    <button class="btn btn-danger waves-effect logout"><a href="/">Log out</a></button>
  </section>
  <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
  
