<footer class="page-footer font-small elegant-color">
    <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <h5>About me</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
        <p class="foot-desc mb-2">Hi my name is Archit singh.
            I like building new stuff and work with 
            other people nothing really 
            interesting is ever built alone.</p>
    </div>
    <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <h5>Products</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
        <ul class="list-unstyled foot-desc">
            <li class="mb-2">
                <a href="/product/electronic">Electronic</a>
            </li>
            <li class="mb-2">
                <a href="/product/tvs&appliances">Tv&Appliances</a>
            </li>
            <li class="mb-2">
                <a href="/product/men">Men</a>
            </li>
            <li class="mb-2">
                <a href="/product/women">Women</a>
            </li>
            <li class="mb-2">
                <a href="/product/baby&kids">Baby&Kids</a>
            </li>
            <li class="mb-2">
                <a href="/product/home&furniture">Furniture</a>
            </li>
            <li class="mb-2">
                <a href="/product/sports&book">Sports,Books</a>
            </li>
            <li class="mb-2">
                <a href="/produt/offerzone">Offer</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <h5>Useful links</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
        <ul class="list-unstyled foot-desc">
            <li class="mb-2">
                <a href="/services/account">Your Account</a>
            </li>
            <li class="mb-2">
                <a href="/services/help">Help</a>
            </li>
            <li class="mb-2">
                <a href="/admin/adminregister">admin</a>
            </li>
            <li class="mb-2">
                <a href="/admin/adminregister">Term&condition</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
        <h5>Contacts</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
        <ul class="fa-ul foot-desc ml-4">
            <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>H NO.64 TRIMURTI NAGAR 40P.A.C HARIDWAR
            </li>
            <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>09548298970</li>
            <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>singharchit15@gmail.com</li>
            <li><span class="fa-li"><i class="far fa-clock"></i></span>{{dd  | date:'shortTime'}}</li>
        </ul>
    </div>
</footer>